* {
    box-sizing: border-box;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    border: 0;
    background-color: #e2e1e0;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    /*height: 100%;*/
    /* url('../images/bg-second.jpg') no-repeat bottom center;*/
    /*background-size: contain;*/
}

.clearfix:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.pokemon {
    width: 24%;
    background: #fff;
    border-radius: 2px;
    padding: 1%;
    margin-bottom: 1%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.pokemon.loading:before {
    content: 'Loading...';
}

.pokemon.loading button {
    display: none;
}

.pokemon:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.pokemon-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.expanded {
    width: 100%;
    background-color: coral;
}

.hidden {
    display: none;
}

.pokemon-area {
    width: 100%;
    margin-top: 20px;
}

.pokemon-area .search-container, .pokemon-area .search-results {
    padding: 30px;
}

.pokemon-area .search-container, .pokemon-area .search-results {
    width: 100%;
}

.pokemon-area .search-container input {
    width: 100%;
    border: 1px solid #cecece;
    padding: 5px;
    font-family: 'Open Sans';
}

button {
    cursor: pointer;
}

main {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.logo {
    background: url('../images/pikachu.svg') no-repeat;
    height: 200px;
    margin: 0 auto;
    width: 140px;
}

@media (min-width: 1200px) {
    main {
        width: 840px;
    }
    /*.container {
        background-size: 100% 62%;
    }*/
}